.feedback-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #121212; /* Dark background */
    color: #ffffff; /* Light text */
}

.feedback-form {
    width: 80%;
    height: 80%;
    border: none; /* Remove default border of iframe */
    color: #ffffff; /* Light text for iframe */
    padding: 20px;
    border-radius: 10px;
}
