.container_style {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.news_number_display {
  text-align: center;
  margin-bottom: 10px;
  font-size: 1.2em;
  font-weight: bold;
  color: var(--yellow);
}

.card_content_style::-webkit-scrollbar {
  width: 5px; /* Thin width for the scrollbar */
}

.card_content_style::-webkit-scrollbar-track {
  background: #000000; /* White background for the track */
}

.card_content_style::-webkit-scrollbar-thumb {
  background: var(--yellow); /* Light gray color for the thumb */
  border-radius: 5px; /* Roundness of the thumb */
}

.card_content_style::-webkit-scrollbar-thumb:hover {
  background: #000000; /* Light gray color for the thumb on hover */
}

.card_style {
  height: 45vh;
  width: 45vw;
  padding-top: 80px;
  text-align: center;
  background: #52c0f5;
  overflow-y: auto;
  color: #fff;
  font-family: sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  border-radius: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
  overflow: hidden;
}

.selected_card_style {
  transform: scale(1.2);
}

.card_content_style {
  max-height: 100%;
  overflow-y: auto;
  padding: 10px;
}

.title {
  font-family: "Rowdies", sans-serif;
  font-weight: 700;
  font-style: normal;
  margin-top: 10%;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.705);
}

.summary {
  font-family: monospace;
  font-weight: 600;
  font-size: medium;
  font-style: normal;
  text-align: justify;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.766);
}

.read-more-button {
  display: flex;
  width: 5vw;
  text-align: center;
  flex-direction: start;
  font-weight: 700;
  padding: 1.5%;
  color: black;
  text-decoration: none;
  background-color: var(--yellow);
  transition-duration: 0.5s;
}

.read-more-button:hover {
  scale: 1.1;
}

.button_style {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 5rem;
  background: none;
  border: none;
  cursor: pointer;
  color: #ddb411;
}

.left_button_style {
  left: 10px;
}

.right_button_style {
  right: 10px;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

/* Media query for screens smaller than 600px */
@media (max-width: 600px) {
  .read-more-button{
    width: 10vw;
  }
  .selected_card_style {
    transform: scale(1.3);
  }
  .summary{
    font-family: monospace;
    font-weight: 600;
    font-size: medium;
    font-style: normal;
    text-align:center;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.766);
  }
  .card_style {
    background-clip: contain;
  }


  /* .container_style {
    flex-direction: column;
  }

  .left_button_style {
    top: auto;
    left: 50%;
    transform: translateX(-50%);
  }

  .right_button_style {
    top: auto;
    right: 50%;
    transform: translateX(50%);
  } */
}
