.button_style{
  position: "absolute";
  top: "50%";
  transform: "translateY(-50%)";
  font-size: "5rem";
  background: "none";
  border: "none";
  cursor: "pointer";
  color: "#ddb411";
}
.title{
  font-family: "Rowdies", sans-serif;
  font-weight: 700;
  font-style: normal;
  margin-top: 10%;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.705);
}
.summary{
  font-family: "Rowdies", sans-serif;
  font-weight: 600;
  font-style: normal;
  text-align: start;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.705);

}