body {
  background-color: black;
}
.tagline{
  color: white;
  font-size: 2rem;
  text-align: center;
  font-family: monospace;
  font-weight: 900;
  margin-top: 2rem;
}

.highlight {
  color: yellow;
}

.deck {
  display: flex;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;
  color: white;
  text-align: center;
}

  .deck>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 45vh;
  /* Adjust based on the navbar height */
}