body {
  background-color: black;
  /* overflow: hidden; */
}

.tagline {
  color: white;
  font-size: 2rem;
  text-align: center;
  font-family: monospace;
  font-weight: 900;
  font-style: normal;
}

.deck {
  text-align: center;
  display: flex;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;
  color: white;
  /* overflow: hidden; */
}

.deck>div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  /* overflow: hidden; */
}

.cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 45vh;
  /* Adjust based on the navbar height */
}

.separator-line {
  width: 100%;
  border-top: 2.4px solid #a6a590;
  /* Use the same color as your navbar or choose another color */
  margin: 1rem 0;
  /* Adds some space above and below the line */
}